<ion-content padding>
<ion-item color="dark">
  <ion-label>Retro Time</ion-label>
  <ion-datetime display-format="hh:mm:ss" placeholder="Tap Here" [(ngModel)]="fullTime"></ion-datetime>
</ion-item>
<!-- Progress Circle-->
<circle-progress (click)="startTime()"
  [percent]="percent"
  [radius]="radius"
  [maxPercent]="100"
  [showTitle]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [outerStrokeColor]="'#8000FF'"
  [showInnerStroke]="flase"
  [outerStrokeGradientStopColor]="'#FF00CB'"
  [outerStrokeGradient]="true"
  [backgroundStroke]="'#33003f'"
  [backgroundStrokeWidth]="3"
  [showZeroOuterStroke]="flase"
  [showInnerStroke]="flase"
></circle-progress>
</ion-content>
